In [17]:
import pandas as pd

In [18]:
mat = pd.read_csv("student-mat.csv", sep=";")
por = pd.read_csv("student-por.csv", sep=";")

In [19]:
mat.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [20]:
girls, boys = mat['sex'].value_counts();

In [22]:
students_17_year_old = mat.loc[(mat['age'] == 17) & (mat['G3'] >= 10) & (mat['G3'] <= 15)].size;

In [23]:
mat['avg'] = mat.apply(
    lambda row: (row['G1'] + row['G2'] + row['G3']) / 3,
    axis=1
)

boys_from_top_10 = mat.loc[mat['sex'] == 'M'].nlargest(10,'avg');