In [1]:
import pandas as pd

In [2]:
mat = pd.read_csv("student-mat.csv", sep=";")
por = pd.read_csv("student-por.csv", sep=";")

In [7]:
mat.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,avg
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,5.666667
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,5.333333
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,8.333333
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,14.666667
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,8.666667

In [20]:
girls, boys = mat['sex'].value_counts();

In [22]:
students_17_year_old = mat.loc[(mat['age'] == 17) & (mat['G3'] >= 10) & (mat['G3'] <= 15)].size;

In [5]:
mat['avg'] = mat.apply(
    lambda row: (row['G1'] + row['G2'] + row['G3']) / 3,
    axis=1
)

boys_from_top_10 = mat.loc[mat['sex'] == 'M'].nlargest(10,'avg');

In [22]:
romantic_internet = mat.loc[(mat['romantic'] == 'yes') & (mat['internet'] == 'yes')];
mean, std = romantic_internet['absences'].mean(), romantic_internet['absences'].std();
print(mean, std);

8.155172413793103 11.25329203873895

In [38]:
student_counts_for_each_age = mat['age'].value_counts().sort_index();
print(student_counts_for_each_age);

15     82
16    104
17     98
18     82
19     24
20      3
21      1
22      1
Name: age, dtype: int64

In [73]:
father, mother = mat.loc[(mat['Fjob'] == 'other') & (mat['Mjob'] == 'yes')].groupby(['Fjob','Mjob']).size().reset_index().sort_values(by = 0, ascending = False).iloc[0].drop(0);
print(father);

other